
@{
    ViewData["Title"] = "BuildInvoiceOut";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="layui-fluid" id="contInvonId">
    <!--基本信息begin-->
    <div class="layui-form" lay-filter="NF-ContInvoiceForm">
        <!--修改时使用-->
        <input type="hidden" id="Id" name="Id" />
        @*合同ID*@
        <input type="hidden" id="ContId" name="ContId" />
        <input type="hidden"id="InState" name="InState" />
        <input type="hidden" name="IsOutInvoice" value="true" />
        <div class="layui-card ">
            <div class="layui-card-header">基本信息</div>
            <div class="layui-card-body" style="padding: 15px;">
                <div class="layui-row layui-col-space10 layui-form-item layui-col-lg12">
                    <div class="layui-col-lg6 layui-col-md6 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">发票类型</label>
                        <div class="layui-input-block">
                            <select name="InType" id="InType" lay-verify="required" lay-search lay-filter="InType">
                                <option value="">请选择..</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-col-lg6 layui-col-md6 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">发票金额</label>
                        <div class="layui-input-block">
                            <input type="text" name="AmountMoney" lay-verify="required" class="layui-input pen lhmoney" />
                            <input type="hidden" id="InState" name="InState" />
                        </div>
                    </div>
                </div>
                <div class="layui-row layui-col-space10 layui-form-item layui-col-lg12">
                    <div class="layui-col-lg6 layui-col-md6 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">开票日期</label>
                        <div class="layui-input-block">
                            <input type="text" name="MakeOutDateTime" id="MakeOutDateTime" lay-verify="required" class="layui-input pen" />
                        </div>
                    </div>
                    <div class="layui-col-lg6 layui-col-md6 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">发票号</label>
                        <div class="layui-input-block">
                            <input type="text" name="InCode" class="layui-input" />
                        </div>
                    </div>

                </div>
                <div class="layui-row layui-col-space10 layui-form-item layui-col-lg12">
                    <div class="layui-col-lg6 layui-col-md6 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">备用1</label>
                        <div class="layui-input-block">
                            <input type="text" name="Reserve1" class="layui-input" />
                        </div>
                    </div>
                    <div class="layui-col-lg6 layui-col-md6 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">备用2</label>
                        <div class="layui-input-block">
                            <input type="text" name="Reserve2" class="layui-input" />
                        </div>
                    </div>
                </div>
                <div class="layui-row layui-col-space10 layui-form-item layui-col-lg12">
                    <div class="layui-col-lg12 layui-col-md12 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">备注</label>
                        <div class="layui-input-block">
                            <textarea name="Remark" class="layui-textarea"></textarea>
                        </div>
                    </div>
                </div>
                <div class="layui-row layui-col-space10 layui-form-item layui-col-lg12">
                    <div class="layui-col-lg6 layui-col-md6 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">发票抬头</label>
                        <div class="layui-input-block">
                            <input type="text" name="InTitle" class="layui-input" />
                        </div>
                    </div>
                    <div class="layui-col-lg6 layui-col-md6 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">纳税人识别号</label>
                        <div class="layui-input-block">
                            <input type="text" name="TaxpayerIdentification" class="layui-input" />
                        </div>
                    </div>

                </div>
                <div class="layui-row layui-col-space10 layui-form-item layui-col-lg12">
                    <div class="layui-col-lg6 layui-col-md6 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">发票地址</label>
                        <div class="layui-input-block">
                            <input type="text" name="InAddress" class="layui-input" />
                        </div>
                    </div>
                    <div class="layui-col-lg6 layui-col-md6 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">电话</label>
                        <div class="layui-input-block">
                            <input type="text" name="InTel" class="layui-input" />
                        </div>
                    </div>
                </div>
                <div class="layui-row layui-col-space10 layui-form-item layui-col-lg12">
                    <div class="layui-col-lg6 layui-col-md6 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">开户银行</label>
                        <div class="layui-input-block">
                            <input type="text" name="BankName" class="layui-input" />
                        </div>
                    </div>
                    <div class="layui-col-lg6 layui-col-md6 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">账号</label>
                        <div class="layui-input-block">
                            <input type="text" name="BankAccount" class="layui-input" />
                        </div>
                    </div>
                </div>

                <div class="layui-row layui-col-space10 layui-form-item layui-col-lg12">
                    <div class="layui-col-lg12 layui-col-md12 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">发票内容</label>
                        <div class="layui-input-block">
                            <table id="NF-Invoice-desc" lay-filter="NF-Invoice-desc"></table>
                            <script id="toolinvoicedesc" type="text/html">
                                <div class="layui-inline">
                                    <button class="layui-btn" lay-event="add">
                                        <i class="layui-icon layui-icon-edit layuiadmin-button-btn"></i>
                                        新增
                                    </button>
                                    <button class="layui-btn" lay-event="batchdel">
                                        <i class="layui-icon layui-icon-delete layuiadmin-button-btn"></i>批量删除
                                    </button>
                                </div>
                            </script>
                        </div>
                    </div>
                </div>
                <div class="layui-row layui-col-space10 layui-form-item layui-col-lg12">
                    <div class="layui-col-lg12 layui-col-md12 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">其他内容</label>
                        <div class="layui-input-block">
                            <textarea name="InContent" class="layui-textarea"></textarea>
                        </div>
                    </div>
                </div>
                <!--需要在最后加这个或者没有也加一个 <div class="layui-form-item">，这样不会导致隐藏菜单是显示问题-->
                <div class="layui-form-item">

                </div>
            </div>
        </div>

        <div class="layui-form-item layui-layout-admin layui-hide">
            <div class="layui-input-block">
                <div class="layui-footer" style="left: 0;">
                    <button class="layui-btn" id="NF-ContInvoice-FormSubmit" lay-submit lay-filter="NF-ContInvoice-FormSubmit">提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </div>
    </div>

    <!--附件begin-->
    <div class="layui-card " id="DivFinceFile">
        <div class="layui-card-header">发票附件</div>
        <div class="layui-card-body" style="padding: 15px;">
            <table id="NF-FinceFileTable" lay-filter="NF-FinceFileTable"></table>
            <!--表格工具栏-->
            <script id="toolFinceFile" type="text/html">
                <div class="layui-inline">
                    <button class="layui-btn " lay-event="add"><i class="layui-icon layui-icon-edit"></i> 新增</button>
                    <button class="layui-btn  layui-btn-danger" lay-event="batchdel"><i class="layui-icon layui-icon-delete"></i>批量删除</button>
                </div>
            </script>
            <script type="text/html" id="table-FinceFilebar">
                <a class="layui-btn layui-btn-xs" lay-event="download"><i class="layui-icon layui-icon-edit"></i>下载</a>
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>修改</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
            </script>

        </div>
    </div>
    <!--附件end-->

    <div class="layui-form" lay-filter="NF-ContInfoForm" style="margin-bottom:15px;" id="continfo">
        <div class="layui-card ">
            <div class="layui-card-header">合同基本信息</div>
            <div class="layui-card-body">
                <div class="layui-row layui-col-space10 layui-form-item layui-col-lg12">
                    <div class="layui-col-lg6 layui-col-md6 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">合同名称</label>
                        <div class="layui-input-block">
                            <input type="text" name="Name" readonly class="layui-input detail" />
                        </div>
                    </div>
                    <div class="layui-col-lg6 layui-col-md6 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">合同编号</label>
                        <div class="layui-input-block">
                            <input type="text" name="Code" readonly class="layui-input detail" />
                        </div>
                    </div>

                </div>
                <div class="layui-row layui-col-space10 layui-form-item layui-col-lg12">
                    <div class="layui-col-lg6 layui-col-md6 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">合同金额</label>
                        <div class="layui-input-block">
                            <input type="text" name="ContAmThod" readonly class="layui-input detail" />
                        </div>
                    </div>
                    <div class="layui-col-lg6 layui-col-md6 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">合同对方</label>
                        <div class="layui-input-block">
                            <input type="text" name="CompName" readonly class="layui-input detail" />
                        </div>
                    </div>

                </div>
                <div class="layui-row layui-col-space10 layui-form-item layui-col-lg12">

                    <div class="layui-col-lg6 layui-col-md6 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">付款金额</label>
                        <div class="layui-input-block">
                            <input type="text" name="HtWcJeThod" readonly class="layui-input detail" />
                        </div>
                    </div>
                    <div class="layui-col-lg6 layui-col-md6 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">收票金额</label>
                        <div class="layui-input-block">
                            <input type="text" name="FaPiaoThod" readonly class="layui-input detail" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-form-item layui-layout-admin">
        <div class="layui-input-block">
            <div class="layui-footer" style="left: 0;">
                <button class="layui-btn layui-btn-sm layui-btn-normal nf-invoice-build" data-type="save">保存</button>
                <button class="layui-btn layui-btn-sm layui-btn-normal nf-invoice-build" data-type="cancel">取消</button>
            </div>
        </div>
    </div>

</div>

<!--目录-->
<ul class="site-dir layui-layer-wrap nf-ml-ul layui-hide" id="customernva">
    <li><a href="#contInvonId" rel="external nofollow" class="current">基本信息</a></li>
    <li><a href="#DivFinceFile" rel="external nofollow">发票附件</a></li>
    <li><a href="#continfo" rel="external nofollow">合同基本信息</a></li>

</ul>
@{
    Html.RenderPartial("_LayuiScriptsPartial");
}
<script>
    layui.config({
        base: '/lib/layuiadmin/'
    }).extend({
        index: 'lib/index',
        commonnf: 'common-nf/commonnf',
        //tableSelect: 'layui-nf-plugs/tableSelect',
        nfcontents: 'contents-nf/nfcontents'
        , continvoiceOutBuild: 'finance-nf/continvoiceout-build'
    }).use(['index', 'continvoiceOutBuild', 'nfcontents'], function () {
        wootool.wooMoneyThod();
        var nfcontents = layui.nfcontents;
        //目录
        nfcontents.render({ content: '#customernva' });
    });
</script>

