
@{
    ViewData["Title"] = "实际资金详情";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page">
    @* 审批框不用了 用下面的图标 *@
    @*<div class="page__hd">
            <div class="weui-btn_primary weui-header hide" id="shenpi">
                <div class="weui-header-left"> <a class="icon icon-109 f-white"></a>  </div>
                <h1 class="weui-header-title">审批</h1>
                <div class="weui-header-right"><a class="icon icon-115 f-white"></a></div>
            </div>
        </div>*@
    <div class="page__bd">
        @*审批事项用于判断是否有审批按钮*@
        <input type="hidden" id="WfItem" name="WfItem" />
        @*类别ID*@
        <input type="hidden" id="HtLbId" name="HtLbId" />
        @*审批实例ID*@
        <input type="hidden" id="InstId" name="InstId" />
        <input type="hidden" id="NodeId" name="NodeId" />
        @*节点*@
        <input type="hidden" id="NodeStrId" name="NodeStrId" />
        @*合同金额*@
        <input type="hidden" id="HtJeD" name="HtJeD" />

        <input hidden id="contId" name="contId" value="@ViewData["contId"]" />
        <input type="hidden" id="wxzh" value="@ViewData["wxzh"]" />
        <input type="hidden" id="Htid" value="@ViewData["Htid"]" />
        <input type="hidden" id="Ftype" value="@ViewData["Ftype"]" />
        <a href="/Home/Eees" type="hidden" id="wxnamenull"></a>
        @*基本信息----begin*@
        <div class="weui-panel weui-panel_access">

            <div class="weui-panel__hd">实际资金基本信息</div>
            <div class="weui-panel__bd">
                <div class="weui-cell weui-cell_active weui-cell_readonly">
                    <div class="weui-cell__hd"><label class="weui-label">资金金额</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" name="AmountMoneyThod" id="AmountMoneyThod" readonly />
                    </div>
                </div>
                <div class="weui-cell weui-cell_active weui-cell_disabled">
                    <div class="weui-cell__hd"><label class="weui-label">票据号码</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" name="VoucherNo" id="VoucherNo" disabled />
                    </div>
                </div>
                <div class="weui-cell weui-cell_active weui-cell_disabled">
                    <div class="weui-cell__hd"><label class="weui-label">结算方式</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" name="SettlementMethodDic" id="SettlementMethodDic" disabled />
                    </div>
                </div>
                <div class="weui-cell weui-cell_active weui-cell_disabled">
                    <div class="weui-cell__hd"><label class="weui-label">结算日期</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" name="ActualSettlementDate" id="ActualSettlementDate" disabled />
                    </div>
                </div>
                <div class="weui-cell weui-cell_active weui-cell_disabled">
                    <div class="weui-cell__hd"><label class="weui-label">备用1</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" name="Reserve1" id="Reserve1" disabled />
                    </div>
                </div>
                <div class="weui-cell weui-cell_active weui-cell_disabled">
                    <div class="weui-cell__hd"><label class="weui-label">备用2</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" name="Reserve2" id="Reserve2" disabled />
                    </div>
                </div>
                <div class="weui-cell weui-cell_active weui-cell_disabled">
                    <div class="weui-cell__hd"><label class="weui-label">备注</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" name="Remark" id="Remark" disabled />
                    </div>
                </div>

            </div>



        </div>
        @*基本信息----end*@
        @*计划资金核销----begin*@
        @*<div class="weui-panel weui-panel_access">
            <div class="weui-panel__hd">计划资金核销</div>
            <div class="weui-panel__bd" id="JhzjHx">
            </div>
        </div>*@
        @*计划资金核销-----end*@
        @*实际资金附件----begin*@
        <div class="weui-panel weui-panel_access">
            <div class="weui-panel__hd">实际资金附件</div>
            <div class="weui-panel__bd" id="ShowFile">
            </div>
        </div>
        @*实际资金附件-----end*@

        @*核销明细----begin*@
        @*<div class="weui-panel weui-panel_access">
            <div class="weui-panel__hd">核销明细</div>
            <div class="weui-panel__bd" id="HxDetail">
            </div>
        </div>*@
        @*核销明细-----end*@
        @*合同基本信息----begin*@
        <div class="weui-panel weui-panel_access">
            <div class="weui-panel__hd">合同基本信息</div>
            <div class="weui-panel__bd" id="HtInfo">
            </div>
        </div>
        @*合同基本信息-----end*@

        @*计划资金----begin*@
        @*<div class="weui-panel weui-panel_access">
            <div class="weui-panel__hd">计划资金</div>
            <div class="weui-panel__bd" id="Jfzj">
            </div>
        </div>*@
        @*计划资金-----end*@

    </div>
    @*漂浮图片*@
    <img src="~/lib/weui/images/icon_shenpi.png" class="shenpibtn hide"  id="shenpi" />
</div>

<div id="full" class='weui-popup__container'>
    <div class="weui-popup__overlay"></div>
    <div class="weui-popup__modal">
        <a href="javascript:;" class="weui-btn weui-btn_primary close-popup">关闭</a>
        <div class="timeline">
            <ul id="timelineui">
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/lib/modules/actualfinance/ActualFinance-detail.js"></script>

