# .NET 构建输出
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# 发布相关
[Pp]ub[Tt]mp/
*.publishsettings
[Pp]ublishProfiles/

# 生成的代码
*.g.cs
*.i.cs
*_Generated.cs

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Node/npm (如果有前端资源)
node_modules/

# 其他
*.log
*.cache
SignalR.Server/obj
SignalR.Server/bin
LhCode/bin
LhCode/obj
NF.AutoMapper/bin
NF.AutoMapper/obj
NF.BLL/bin
NF.BLL/obj
NF.Common/bin
NF.Common/obj
NF.IBLL/bin
NF.IBLL/obj
NF.Model/bin
NF.Model/obj
NF.OfficeComm/bin
NF.OfficeComm/obj
NF.QuartzNet/bin
NF.ViewModel/obj
NF.ViewModel/bin
NF.Web/obj
NF.QuartzNet/obj
NF.WeiXin.Lib/bin
NF.WeiXin.Lib/obj
SignalR.Client/bin
SignalR.Client/obj
NF.WeiXinApp/obj
NF.WeiXinApp/bin
NF.Web/obj
NF.WeiXinApp/bin
NF.WeiXinApp/bin
