USE [ZHOU_DONG]
GO
/****** Object:  Table [dbo].[CheckFile]    Script Date: 2026/3/13 14:30:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CheckFile](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AttId] [int] NULL,
	[FilePath] [nvarchar](500) NULL,
	[GuidFileName] [nvarchar](100) NULL,
	[FolderName] [nvarchar](50) NULL,
	[CompanyId] [int] NULL,
	[FileName] [nvarchar](200) NULL,
	[Name] [nvarchar](200) NULL,
	[Extend] [nvarchar](20) NULL,
	[CreateUserId] [int] NOT NULL,
	[CreateDateTime] [datetime] NOT NULL,
	[ModifyUserId] [int] NOT NULL,
	[ModifyDateTime] [datetime] NOT NULL,
	[IsDelete] [tinyint] NOT NULL,
	[ThumPath] [nvarchar](500) NULL,
	[Filde1] [varchar](200) NULL,
	[Filde2] [varchar](200) NULL,
	[FileType] [int] NULL,
 CONSTRAINT [PK_CheckFile] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CheckInfo]    Script Date: 2026/3/13 14:30:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CheckInfo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](300) NULL,
	[CompanyName] [nvarchar](500) NULL,
	[Remark] [nvarchar](1000) NULL,
	[TxDate] [datetime] NULL,
	[Cstate] [tinyint] NULL,
	[CreateUserId] [int] NOT NULL,
	[CreateDateTime] [datetime] NOT NULL,
	[ModifyUserId] [int] NOT NULL,
	[ModifyDateTime] [datetime] NOT NULL,
	[PrincipalUserId] [int] NULL,
 CONSTRAINT [PK_CheckInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EnterpriseFile]    Script Date: 2026/3/13 14:30:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EnterpriseFile](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AttId] [int] NULL,
	[FilePath] [nvarchar](500) NULL,
	[GuidFileName] [nvarchar](100) NULL,
	[FolderName] [nvarchar](50) NULL,
	[CompanyId] [int] NULL,
	[FileName] [nvarchar](200) NULL,
	[Name] [nvarchar](200) NULL,
	[Extend] [nvarchar](20) NULL,
	[CreateUserId] [int] NOT NULL,
	[CreateDateTime] [datetime] NOT NULL,
	[ModifyUserId] [int] NOT NULL,
	[ModifyDateTime] [datetime] NOT NULL,
	[IsDelete] [tinyint] NOT NULL,
	[ThumPath] [nvarchar](500) NULL,
	[Filde1] [varchar](200) NULL,
	[Filde2] [varchar](200) NULL,
	[FileType] [int] NULL,
 CONSTRAINT [PK_EnterpriseFile] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EnterpriseInfo]    Script Date: 2026/3/13 14:30:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EnterpriseInfo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Remark] [nvarchar](2000) NULL,
	[Cstate] [tinyint] NULL,
	[CreateUserId] [int] NOT NULL,
	[CreateDateTime] [datetime] NOT NULL,
	[ModifyUserId] [int] NOT NULL,
	[ModifyDateTime] [datetime] NOT NULL,
	[PrincipalUserId] [int] NULL,
 CONSTRAINT [PK_EnterpriseInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
