
@{
    ViewData["Title"] = "审批模板";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="layui-fluid">
    <input type="hidden" name="hide_keyWord" />
    <div class="layui-card">
        <div class="layui-card-body">
            <table id="NF-WorkFlow-Temp" lay-filter="NF-WorkFlow-Temp"></table>
            <!--查看详情-->
            <script type="text/html" id="nameTpl">
                <a class="layui-table-link hand" lay-text="查看详情" lay-event="detail">
                    <cite>{{d.Name}}</cite>
                </a>
            </script>

            <!--状态-->
            <script type="text/html" id="IsValidTpl">
                <input type="checkbox" name="IsValid" value="{{d.Id}}" lay-skin="switch" lay-text="启用|禁用" lay-filter="IsValid" {{ d.IsValid == 1 ? 'checked' : '' }}>
            </script>
            <!--表格工具栏-->
            <script id="toolWorkFlowTemp" type="text/html">
                <div class="layui-inline">
                    
                    <input class="layui-input" type="text" name="keyWord" placeholder="名称" style="width:240px;" />
                </div>
                <div class="layui-inline">
                    <button class="layui-btn" lay-event="search">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                    </button>
                    <button class="layui-btn" lay-event="add">
                        <i class="layui-icon layui-icon-edit layuiadmin-button-btn"></i>
                        新增
                    </button>
                    <button class="layui-btn" lay-event="batchdel">
                        <i class="layui-icon layui-icon-delete layuiadmin-button-btn"></i>批量删除
                    </button>

                </div>
            </script>

            @*操作*@
            <script type="text/html" id="table-WorkFlowTemp-tbar">
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>修改</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="setflow"><i class="layui-icon layui-icon-edit"></i>设置流程</a>
            </script>

        </div>
    </div>
</div>

@{
    Html.RenderPartial("_LayuiScriptsPartial");
}
<script>
    layui.config({
        base: '/lib/layuiadmin/'
    }).extend({
        index: 'lib/index',
        workFlowTempIndex: 'workflow-nf/workflowtemp-index'
    }).use(['index', 'workFlowTempIndex'], function () {
    });
</script>