
@{
    ViewData["Title"] = "Build";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="layui-fluid">
    <!--用户基本信息begin-->
    <div class="layui-form" lay-filter="Nf-SystemAdmin-RoleForm">
        <input type="hidden" id="Id" name="Id" />
        <div class="layui-card ">
            <div class="layui-card-header">角色基本信息</div>
            <div class="layui-card-body" style="padding: 15px;">
                <div class="layui-row layui-col-space10 layui-form-item layui-col-lg12">
                    <div class="layui-col-lg4 layui-col-md4 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">角色名称</label>
                        <div class="layui-input-block">
                            <input type="text" name="Name" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input pen" />
                        </div>
                    </div>
                    <div class="layui-col-lg4 layui-col-md4 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">角色编号</label>
                        <div class="layui-input-block">
                            <input type="text" name="No" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input pen" />
                        </div>
                    </div>
                </div>
               
                <div class="layui-row layui-col-space10 layui-form-item layui-col-lg12">

                    <div class="layui-col-lg12 layui-col-md12 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">备注</label>
                        <div class="layui-input-block">
                            <textarea name="Remark" class="layui-textarea"></textarea>
                        </div>
                    </div>
                </div>

                <!--需要在最后加这个或者没有也加一个 <div class="layui-form-item">，这样不会导致隐藏菜单是显示问题-->
                <div class="layui-form-item">

                </div>

            </div>
        </div>


        <!--按钮begin-->
        <div class="layui-form-item layui-layout-admin layui-hide">
            <div class="layui-input-block">
                <div class="layui-footer" style="left: 0;">
                    <button class="layui-btn" id="Nf-SystemAdmin-RoleFormSubmit" lay-submit lay-filter="Nf-SystemAdmin-RoleFormSubmit">保存</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </div>
        <!--按钮begin-->
    </div>
    <!--用户基本信息end-->

</div>

@{
    Html.RenderPartial("_LayuiScriptsPartial");
}
<script>
    layui.config({
        base: '/lib/layuiadmin/'
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'form'], function () {
        var $ = layui.$
            , admin = layui.admin
            , element = layui.element
            , layer = layui.layer
            , table = layui.table
            , form = layui.form;
        var byId = wooutil.getUrlVar('Id');
        //--------------------------修改的时候赋值----------------------------------

        if (byId !== "" && byId !== undefined) {
            admin.req({
                url: '/System/Role/ShowView',
                data: { Id: byId, rand: wooutil.getRandom() },
                done: function (res) {
                    //layer.alert(JSON.stringify(res.Data));
                    form.val("Nf-SystemAdmin-RoleForm", res.Data);
                   
                }
            });

        }
        //-------------------------------------修改赋值end--------------------------------------------
        form.render(null, 'Nf-SystemAdmin-RoleForm');

        });
</script>

