
@{
    ViewData["Title"] = "合同标的";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="layui-fluid">
    <!--基本信息begin-->
    <div class="layui-form" lay-filter="NF-ContSubMatterForm">
       @*当前对象ID*@
        <input type="hidden" id="Id" name="Id" />

       @*合同ID*@
        <input type="hidden" name="ContId" id="ContId" />
        <div class="layui-card ">
            <div class="layui-card-header">基本信息</div>
            <div class="layui-card-body" style="padding: 15px;">
                <div class="layui-row layui-col-space10 layui-form-item layui-col-lg12">
                    <div class="layui-col-lg4 layui-col-md4 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">标的名称</label>
                        <div class="layui-input-block">
                            <input type="text" name="Name" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input pen" />
                        </div>
                    </div>
                    <div class="layui-col-lg4 layui-col-md4 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">规格</label>
                        <div class="layui-input-block">
                            <input type="text" name="Spec" class="layui-input" />
                        </div>
                    </div>
                    <div class="layui-col-lg4 layui-col-md4 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">型号</label>
                        <div class="layui-input-block">
                            <input type="text" name="Stype" class="layui-input" />
                        </div>
                    </div>
                </div>
                <div class="layui-row layui-col-space10 layui-form-item layui-col-lg12">
                    <div class="layui-col-lg4 layui-col-md4 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">单位</label>
                        <div class="layui-input-block">
                            <input type="text" name="Unit" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input pen" />
                        </div>
                    </div>
                    <div class="layui-col-lg4 layui-col-md4 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">单价</label>
                        <div class="layui-input-block">
                            <input type="text" name="Price"  lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input pen" />
                        </div>
                    </div>
                    <div class="layui-col-lg4 layui-col-md4 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">数量</label>
                        <div class="layui-input-block">
                            <input type="number" name="Amount" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input pen" />
                        </div>
                    </div>

                </div>
                <div class="layui-row layui-col-space10 layui-form-item layui-col-lg12">
                    <div class="layui-col-lg4 layui-col-md4 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">小计</label>
                        <div class="layui-input-block">
                            <input type="text" name="SubTotal" disabled class="layui-input layui-bg-gray" />
                        </div>
                    </div>
                    <div class="layui-col-lg4 layui-col-md4 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">报价</label>
                        <div class="layui-input-block">
                            <input type="text" name="SalePrice"  class="layui-input" />
                        </div>
                    </div>
                    <div class="layui-col-lg4 layui-col-md4 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">折扣率</label>
                        <div class="layui-input-block">
                            <input type="text" name="DiscountRate" disabled class="layui-input layui-bg-gray" />
                        </div>
                    </div>

                </div>
                <div class="layui-row layui-col-space10 layui-form-item layui-col-lg12">
                    <div class="layui-col-lg4 layui-col-md4 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">计划交付时间</label>
                        <div class="layui-input-block">
                            <input type="text" name="PlanDateTime" id="PlanDateTime" class="layui-input" />
                        </div>
                    </div>

                </div>
                <div class="layui-row layui-col-space10 layui-form-item layui-col-lg12">
                    <div class="layui-col-lg12 layui-col-md12 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">备注</label>
                        <div class="layui-input-block">
                            <textarea name="Remark" class="layui-textarea"></textarea>
                        </div>
                    </div>
                </div>
                <!--需要在最后加这个或者没有也加一个 <div class="layui-form-item">，这样不会导致隐藏菜单是显示问题-->
                <div class="layui-form-item">

                </div>
            </div>
        </div>

        <div class="layui-form-item layui-layout-admin layui-hide">
            <div class="layui-input-block">
                <div class="layui-footer" style="left: 0;">
                    <button class="layui-btn" id="NF-ContSubMatter-FormSubmit" lay-submit lay-filter="NF-ContSubMatter-FormSubmit">保存</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </div>

    </div>
</div>
@{
    Html.RenderPartial("_LayuiScriptsPartial");
}
<script>

    layui.config({
        base: '/lib/layuiadmin/'
    }).extend({
        index: 'lib/index',
        commonnf: 'common-nf/commonnf'
    }).use(['index', 'form', 'laydate', 'commonnf'], function ()
    {
          var $ = layui.$
          , form = layui.form
          , laydate = layui.laydate
          , commonnf = layui.commonnf;
          var _objId = wooutil.getQueryString('Id');
         //计划交付时间
          laydate.render({ elem: '#PlanDateTime' });
         //折扣率
          function ZheKouLv() {
              var _val = 0;
              var _price = wooutil.parseThousandsSeparator($("input[name=Price]").val());
              var _saleprice = wooutil.parseThousandsSeparator($("input[name=SalePrice]").val());
              if (_saleprice > 0) {
                  _val = _price / _saleprice;
              }
              _val = wooutil.getPercent(_val);
              $("input[name=DiscountRate]").val(_val)
          }
           //计算小计
          function XiaoJi() {
              var _val = 0;
              var _price = wooutil.parseThousandsSeparator($("input[name=Price]").val());
              var _amount = parseFloat($("input[name=Amount]").val());
              if (isNaN(_amount)) {
                  $("input[name=SubTotal]").val("0.00");
              } else {
                  _val = _price * _amount;
                  $("input[name=SubTotal]").val(wooutil.numThodFormat(_val.toString()));
              }
          }
          //单价
          $("input[name=Price]").blur(function () {
              XiaoJi();
              ZheKouLv();
          });
           //数量
          $("input[name=Amount]").blur(function () {
              XiaoJi();
          });
         //报价
          $("input[name=SalePrice]").blur(function () {
              ZheKouLv();
          });
       
        /**
        *修改绑定数据
         **/
          if (_objId !== "" && _objId !== undefined && parseInt(_objId) > 0) {
              admin.req({
                  url: '/Contract/ContSubjectMatter/ShowView',
                  data: { Id: _objId, rand: wooutil.getRandom() },
                  done: function (res) {
                      form.val('NF-ContSubMatterForm', res.Data);
                  }
              });
          }
    });
</script>





