пїњ
@{
    ViewData["Title"] = "еРИеРМйЩДдїґ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="layui-fluid">
    <!--еЯЇжЬђдњ°жБѓbegin-->
    <div class="layui-form" lay-filter="NF-ContAttachmentForm">
        <!--дњЃжФєжЧґдљњзФ®-->
        <input type="hidden" id="Id" name="Id" />

        <!--й°єзЫЃID-->
        <input type="hidden" name="ContId" id="ContId" />
        @*жЦЗдїґе≠ШеВ®жЦЗдїґе§єеРНзІ∞*@
        <input type="hidden" name="FolderName" />
        <!--GuidеРНзІ∞-->
        <input type="hidden" name="GuidFileName" />
        <div class="layui-card ">
            <div class="layui-card-header">еЯЇжЬђдњ°жБѓ</div>
            <div class="layui-card-body" style="padding: 15px;">
                <div class="layui-row layui-col-space10 layui-form-item layui-col-lg12">
                    <div class="layui-col-lg4 layui-col-md4 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">жЦЗдїґеРН</label>
                        @*<div class="layui-input-block">*@
                        <div class="layui-input-inline" style="width:70%;">
                            <input type="text" name="FileName" lay-verify="required" placeholder="иѓЈиЊУеЕ•" autocomplete="off" class="layui-input pen" />
                        </div>
                        <div class="layui-form-mid layui-word-aux" style="margin-top:-9px;">
                            <button class="layui-btn layui-btn layui-btn-sm " id="contract-attUpload" style="height:38px;line-height:38px;">жµПиІИ</button>
                        </div>
                    </div>
                    <div class="layui-col-lg4 layui-col-md4 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">йЩДдїґеРНзІ∞</label>
                        <div class="layui-input-block">
                            <input type="text" name="Name" lay-verify="required" placeholder="иѓЈиЊУеЕ•" autocomplete="off" class="layui-input pen" />
                        </div>
                    </div>
                    <div class="layui-col-lg4 layui-col-md4 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">йЩДдїґз±їеИЂ</label>
                        <div class="layui-input-block">
                            <select name="CategoryId" id="CategoryId"  lay-search>
                                <option value="">иѓЈйАЙжЛ©..</option>

                            </select>
                        </div>
                    </div>
                </div>

                <div class="layui-row layui-col-space10 layui-form-item layui-col-lg12">

                    <div class="layui-col-lg12 layui-col-md12 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">йЩДдїґиѓіжШО</label>
                        <div class="layui-input-block">
                            <textarea name="Remark" class="layui-textarea"></textarea>
                        </div>
                    </div>
                </div>
                <!--йЬАи¶БеЬ®жЬАеРОеК†ињЩдЄ™жИЦиАЕж≤°жЬЙдєЯеК†дЄАдЄ™ <div class="layui-form-item">пЉМињЩж†ЈдЄНдЉЪеѓЉиЗійЪРиЧПиПЬеНХжШѓжШЊз§ЇйЧЃйҐШ-->
                <div class="layui-form-item">

                </div>
            </div>
        </div>

        <div class="layui-form-item layui-layout-admin layui-hide">
            <div class="layui-input-block">
                <div class="layui-footer" style="left: 0;">
                    <button class="layui-btn" id="NF-ContAttachment-FormSubmit" lay-submit lay-filter="NF-ContAttachment-FormSubmit">дњЭе≠Ш</button>
                    <button type="reset" class="layui-btn layui-btn-primary">йЗНзљЃ</button>
                </div>
            </div>
        </div>

    </div>
</div>
@{
    Html.RenderPartial("_LayuiScriptsPartial");
}
<script>

    layui.config({
        base: '/lib/layuiadmin/'
    }).extend({
        index: 'lib/index',
        commonnf: 'common-nf/commonnf',
    }).use(['index', 'form', 'commonnf', 'upload'], function () {

        var $ = layui.$
            , admin = layui.admin
          , form = layui.form
          , commonnf = layui.commonnf
          , upload = layui.upload
         , setter = layui.setter ;
           var _objId = wooutil.getQueryString('Id');
          //йЩДдїґз±їеИЂ
           commonnf.getdatadic({ dataenum: 18, selectEl: "#CategoryId" });
          //дЄКдЉ†14
        var uploadcontractInst = upload.render({
                elem: '#contract-attUpload'
               , url: setter.layupload.uploadIp + '/NfCommon/NfAttachment/Upload?folderIndex=14'
               , accept: setter.layupload.accept
               , exts: setter.layupload.exts
               , size: setter.layupload.size
            , before: function (obj) {
                   layer.load(); //дЄКдЉ†loading
               }
            , done: function (res, index, upload) { //дЄКдЉ†еЃМжѓХеЫЮи∞Г
                   $("input[name=FolderName]").val(res.RetValue.FolderName);
                   $("input[name=GuidFileName]").val(res.RetValue.GuidFileName);
                   $("input[name=FileName]").val(res.RetValue.SourceFileName);
                   $("input[name=Name]").val(res.RetValue.NotExtenFileName);
                   layer.closeAll('loading');
               }
            , error: function (index, upload) {
                   //иѓЈж±ВеЉВеЄЄеЫЮи∞Г
                   layer.closeAll('loading');
                   layer.msg('зљСзїЬеЉВеЄЄпЉМиѓЈз®НеРОйЗНиѓХпЉБ');
               }

             });



        /**
        *дњЃжФєзїСеЃЪжХ∞жНЃ
       **/
           if (_objId !== "" && _objId !== undefined && parseInt(_objId) > 0) {
               admin.req({
                   url: '/Inquiry/InquiryAttachment/ShowView',
                   data: { Id: _objId, rand: wooutil.getRandom() },
                   done: function (res) {
                       form.val('NF-ContAttachmentForm', res.Data);
                   }
               });
           }

    });
</script>








