
@{
    ViewData["Title"] = "Dbsx";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/lib/layuiadmin/layui/css/layui.css" media="all" />
<link rel="stylesheet" href="~/lib/layuiadmin/style/admin.css" media="all">
<input type="hidden" id="ids" name="ids" value=@(ViewData["ids"]) />
<div class="layui-fluid" id="LAY-app-message">
    <div class="layui-card">
        <div class="layui-tab layui-tab-brief">
            <ul class="layui-tab-title">
                <li>消息内容<span class="layui-badge">@(ViewData["ids"])</span></li>
            </ul>
            <table id="LAY-app-message-all" lay-filter="LAY-app-message-all"></table>
            <script type="text/html" id="nameT">
               
                <span class="layui-badge">{{d.Value}}</span>
               
                
            </script>
        </div>
    </div>
</div>

<script src="~/lib/layuiadmin/layui/layui.js" type="text/javascript"></script>
<script>
    layui.config({
        base: '/lib/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index', //主入口模块
        message: 'message'
    }).use(['index', 'table', 'message'], function () {
        var $ = layui.$
            , table = layui.table
            , setter = layui.setter
            , admin = layui.admin
            , message = layui.message;


    });
</script>
