
@{
    ViewData["Title"] = "项目详情";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a href="/Home/Eees" type="hidden" id="wxnamenull"></a>
<div class="page">
    @* 审批框不用了 用下面的图标 *@
    @*<div class="page__hd">
            <div class="weui-btn_primary weui-header hide" id="shenpi">
                <div class="weui-header-left"> <a class="icon icon-109 f-white"></a>  </div>
                <h1 class="weui-header-title">审批</h1>
                <div class="weui-header-right"><a class="icon icon-115 f-white"></a></div>
            </div>
        </div>*@
    <div class="page__bd">
        @*审批事项用于判断是否有审批按钮*@
        <input type="hidden" id="WfItem" name="WfItem" />
        @*类别ID*@
        <input type="hidden" id="HtLbId" name="HtLbId" />
        @*审批实例ID*@
        <input type="hidden" id="InstId" name="InstId" />
        <input type="hidden" id="NodeId" name="NodeId" />
        @*节点*@
        <input type="hidden" id="NodeStrId" name="NodeStrId" />
        @*合同金额*@
        <input type="hidden" id="HtJeD" name="HtJeD" />

        <input hidden id="contId" name="contId" value="@ViewData["contId"]" />
        <input type="hidden" id="UserId" value="@ViewData["WxCurrUserId"]" />

        @*基本信息----begin*@
        <div class="weui-panel weui-panel_access">

            <div class="weui-panel__hd">项目基本信息</div>
            <div class="weui-panel__bd">
                <div class="weui-cell weui-cell_active weui-cell_readonly">
                    <div class="weui-cell__hd"><label class="weui-label">名称</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" name="Name" id="Name" readonly />
                    </div>
                </div>
                <div class="weui-cell weui-cell_active weui-cell_disabled">
                    <div class="weui-cell__hd"><label class="weui-label">编号</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" name="Code" id="Code" disabled />
                    </div>
                </div>
                <div class="weui-cell weui-cell_active weui-cell_disabled">
                    <div class="weui-cell__hd"><label class="weui-label">类别</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" name="ProjTypeName" id="ProjTypeName" disabled />
                    </div>
                </div>
                <div class="weui-cell weui-cell_active weui-cell_disabled">
                    <div class="weui-cell__hd"><label class="weui-label">负责人</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" name="XmFzrName" id="XmFzrName" disabled />
                    </div>
                </div>
                <div class="weui-cell weui-cell_active weui-cell_disabled">
                    <div class="weui-cell__hd"><label class="weui-label">预算收款</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" name="BugetCollectAmountMoney" id="BugetCollectAmountMoney" disabled />
                    </div>
                </div>
                <div class="weui-cell weui-cell_active weui-cell_disabled">
                    <div class="weui-cell__hd"><label class="weui-label">收款币种</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" name="XmSkBzName" id="XmSkBzName" disabled />
                    </div>
                </div>
                <div class="weui-cell weui-cell_active weui-cell_disabled">
                    <div class="weui-cell__hd"><label class="weui-label">预算付款</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" name="BudgetPayAmountMoney" id="BudgetPayAmountMoney" disabled />
                    </div>
                </div>
                <div class="weui-cell weui-cell_active weui-cell_disabled">
                    <div class="weui-cell__hd"><label class="weui-label">付款币种</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" name="XmFkBzName" id="XmFkBzName" disabled />
                    </div>
                </div>
                <div class="weui-cell weui-cell_active weui-cell_disabled">
                    <div class="weui-cell__hd"><label class="weui-label">计划开始时间</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" name="XmJhKsSj" id="XmJhKsSj" disabled />
                    </div>
                </div>


                <div class="weui-cell weui-cell_active weui-cell_disabled">
                    <div class="weui-cell__hd"><label class="weui-label">计划完成时间</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" name="XmJhWcsSj" id="XmJhWcsSj" disabled />
                    </div>
                </div>
                <div class="weui-cell weui-cell_active weui-cell_disabled">
                    <div class="weui-cell__hd"><label class="weui-label">实际开始时间</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" name="XmSjKsSj" id="XmSjKsSj" disabled />
                    </div>
                </div>
                <div class="weui-cell weui-cell_active weui-cell_disabled">
                    <div class="weui-cell__hd"><label class="weui-label">实际完成时间</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" name="XmSjWcSj" id="XmSjWcSj" disabled />
                    </div>
                </div>
                <div class="weui-cell weui-cell_active weui-cell_disabled">
                    <div class="weui-cell__hd"><label class="weui-label">建立人</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" name="XmJlrName" id="XmJlrName" disabled />
                    </div>
                </div>

                <div class="weui-cell weui-cell_active weui-cell_disabled">
                    <div class="weui-cell__hd"><label class="weui-label">建立时间</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" name="XmJlRq" id="XmJlRq" disabled />
                    </div>
                </div>
                <div class="weui-cell weui-cell_active weui-cell_disabled">
                    <div class="weui-cell__hd"><label class="weui-label">项目来源</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" name="ProjectSourceName" id="ProjectSourceName" disabled />
                    </div>
                </div>
                <div class="weui-cell weui-cell_active weui-cell_disabled">
                    <div class="weui-cell__hd"><label class="weui-label">备用1</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" name="Reserve1" id="Reserve1" disabled />
                    </div>
                </div>
                <div class="weui-cell weui-cell_active weui-cell_disabled">
                    <div class="weui-cell__hd"><label class="weui-label">备用2</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" name="Reserve2" id="Reserve2" disabled />
                    </div>
                </div>

            </div>



        </div>
        @*基本信息----end*@
        @*项目附件----begin*@
        <div class="weui-panel weui-panel_access">
            <div class="weui-panel__hd">项目附件</div>
            <div class="weui-panel__bd" id="ShowFile">
            </div>
        </div>
        @*项目附件-----end*@
        @*资金统计----begin*@
        <!--<div class="weui-panel weui-panel_access">

            <div class="weui-panel__hd">资金统计</div>
            <div class="weui-panel__bd">
                <div class="weui-cell weui-cell_active weui-cell_readonly">
                    <div class="weui-cell__hd"><label class="weui-label">收款合同金额</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" name="SkHtJeThod" id="SkHtJeThod" readonly />
                    </div>
                </div>
                <div class="weui-cell weui-cell_active weui-cell_disabled">
                    <div class="weui-cell__hd"><label class="weui-label">已收金额</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" name="SkCompAtmThod" id="SkCompAtmThod" disabled />
                    </div>
                </div>
                <div class="weui-cell weui-cell_active weui-cell_disabled">
                    <div class="weui-cell__hd"><label class="weui-label">未收金额</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" name="NoSkCompAtmThod" id="NoSkCompAtmThod" disabled />
                    </div>
                </div>
                <div class="weui-cell weui-cell_active weui-cell_disabled">
                    <div class="weui-cell__hd"><label class="weui-label">已开票金额</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" name="SkCompInThod" id="SkCompInThod" disabled />
                    </div>
                </div>
                <div class="weui-cell weui-cell_active weui-cell_disabled">
                    <div class="weui-cell__hd"><label class="weui-label">未开票金额</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" name="NoSkCompInThod" id="NoSkCompInThod" disabled />
                    </div>
                </div>
                <div class="weui-cell weui-cell_active weui-cell_disabled">
                    <div class="weui-cell__hd"><label class="weui-label">财务应收</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" name="SkCaiYsThod" id="SkCaiYsThod" disabled />
                    </div>
                </div>
                <div class="weui-cell weui-cell_active weui-cell_disabled">
                    <div class="weui-cell__hd"><label class="weui-label">付款合同金额</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" name="SKCaiYjThod" id="SKCaiYjThod" disabled />
                    </div>
                </div>
                <div class="weui-cell weui-cell_active weui-cell_disabled">
                    <div class="weui-cell__hd"><label class="weui-label">已付金额</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" name="FkCompAtmThod" id="FkCompAtmThod" disabled />
                    </div>
                </div>
                <div class="weui-cell weui-cell_active weui-cell_disabled">
                    <div class="weui-cell__hd"><label class="weui-label">未付金额</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" name="NoFkCompAtmThod" id="NoFkCompAtmThod" disabled />
                    </div>
                </div>


                <div class="weui-cell weui-cell_active weui-cell_disabled">
                    <div class="weui-cell__hd"><label class="weui-label">已收票金额</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" name="FkCompInThod" id="FkCompInThod" disabled />
                    </div>
                </div>
                <div class="weui-cell weui-cell_active weui-cell_disabled">
                    <div class="weui-cell__hd"><label class="weui-label">未收票金额</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" name="NoFkCompInThod" id="NoFkCompInThod" disabled />
                    </div>
                </div>
                <div class="weui-cell weui-cell_active weui-cell_disabled">
                    <div class="weui-cell__hd"><label class="weui-label">财务应付</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" name="FkCaiYsThod" id="FkCaiYsThod" disabled />
                    </div>
                </div>
                <div class="weui-cell weui-cell_active weui-cell_disabled">
                    <div class="weui-cell__hd"><label class="weui-label">财务预付</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" name="FKCaiYjThod" id="FKCaiYjThod" disabled />
                    </div>
                </div>
            </div>



        </div>-->
        @*相关收款----begin*@
        <!--<div class="weui-panel weui-panel_access">
            <div class="weui-panel__hd">相关收款</div>
            <div class="weui-panel__bd" id="Hkht">
            </div>
        </div>-->
        @*相关收款-----end*@

        @*相关收款----begin*@
        <!--<div class="weui-panel weui-panel_access">
            <div class="weui-panel__hd">相关付款</div>
            <div class="weui-panel__bd" id="ShowXmzjF">
            </div>
        </div>-->
        @*相关收款-----end*@

        @*审批历史----begin*@
        <!--<div class="weui-panel weui-panel_access">
            <div class="weui-panel__hd">审批历史</div>
            <div class="weui-panel__bd" id="XmSpLs">
            </div>
        </div>-->
        @*审批历史-----end*@


    </div>
    @*漂浮图片*@
    <img src="~/lib/weui/images/icon_shenpi.png" class="shenpibtn hide"  id="shenpi" />
</div>

<div id="full" class='weui-popup__container'>
    <div class="weui-popup__overlay"></div>
    <div class="weui-popup__modal">
        <a href="javascript:;" class="weui-btn weui-btn_primary close-popup">关闭</a>
        <div class="timeline">
            <ul id="timelineui">
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/lib/modules/project/project-detail.js"></script>


