
@{
    ViewData["Title"] = "Eees";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page index-bg">
    
    <div class="page__bd">
        <h1>非法访问请使用企业微信登录！</h1>
    </div>

    <div class="weui-footer weui-footer_fixed-bottom" style="padding-bottom:50px;">
        <p class="weui-footer__links">
            <a href="javascript:home();" class="weui-footer__link weui-wa-hotarea">盘州市康泉净水设备有限公司</a>
        </p>
        <p class="weui-footer__text"> Copyright © 2022-2027<p>
            <a href="https://beian.miit.gov.cn/ target=" _blank"" class="page_copyright">
                <img src="/huizhang.jpg" />备案号：黔ICP备2022006828号-1
            </a>
        
    </div>
    <div class="weui-footer weui-footer_fixed-bottom">
    </div>
</div>

