@{
    ViewData["Title"] = "菜单";
    ViewData["MyPage"] = "menuIndex";
}
<div class="page index-bg">
    @*<input type="hidden" id="Usid" />
    <input type="hidden" id="mypage" value="0" />*@
    <input type="hidden" id="Wxid" value="@ViewData["WxCurrUserId"]" />
    <a href="/Home/Eees" type="hidden" id="wxnamenull"></a>
    <div class="page__hd menu_hd">
        <h2 class="page__title menu_hd_Title1">欢迎使用CRM管理系统</h2>
        <p class="page__desc menu_hd_Title2">盘州市康泉净水设备有限公司</p>
    </div>
    <div class="page__bd">

        <div class="weui-grids">
             <a href="/Company/CustomerAdd?wxzh=@ViewData["WxCurrUserId"]&FinanceType=0&Id=0" class="weui-grid index-menubtn">
                <div class="weui-grid__icon">
                    <img src="~/lib/weui/images/add_kh.png" alt="新增客户">
                </div>
                <p class="weui-grid__label menu_font">新增客户</p>
            </a>
            <a href="/Company/CustomerIndex?wxzh=@ViewData["WxCurrUserId"]&FinanceType=0" class="weui-grid index-menubtn">
                <div class="weui-grid__icon">
                    <img src="~/lib/weui/images/icon_kf.png" alt="客户列表">
                </div>
                <p class="weui-grid__label menu_font">客户列表</p>
            </a>
            
            <a href="/Enterprise/EnterpriseAdd?wxzh=@ViewData["WxCurrUserId"]&Id=0" class="weui-grid index-menubtn">
                <div class="weui-grid__icon">
                    <img src="~/lib/weui/images/add_kh.png" alt="新增资料">
                </div>
                <p class="weui-grid__label menu_font">新增资料</p>
            </a>
            <a href="/Enterprise/Index?wxzh=@ViewData["WxCurrUserId"]" class="weui-grid index-menubtn">
                <div class="weui-grid__icon">
                    <img src="~/lib/weui/images/icon_kf.png" alt="资料列表">
                </div>
                <p class="weui-grid__label menu_font">资料列表</p>
            </a>

            <a href="/Chack/CheckAdd?wxzh=@ViewData["WxCurrUserId"]&Id=0" class="weui-grid index-menubtn">
                <div class="weui-grid__icon">
                    <img src="~/lib/weui/images/add_kh.png" alt="新增检测">
                </div>
                <p class="weui-grid__label menu_font">新增检测</p>
            </a>
            <a href="/Chack/Index?wxzh=@ViewData["WxCurrUserId"]" class="weui-grid index-menubtn">
                <div class="weui-grid__icon">
                    <img src="~/lib/weui/images/icon_kf.png" alt="检测列表">
                </div>
                <p class="weui-grid__label menu_font">检测列表</p>
            </a>


        </div>

    </div>

    <div class="weui-footer weui-footer_fixed-bottom" style="padding-bottom:50px;">
        <p class="weui-footer__links">
            <a href="javascript:home();" class="weui-footer__link weui-wa-hotarea">盘州市康泉净水设备有限公司</a>
        </p>
        <p class="weui-footer__text"> Copyright © 2022-2027<p>
            <a href="https://beian.miit.gov.cn/ target=" _blank"" class="page_copyright">
                备案号：黔ICP备2022006828号-1
        </a>
    </div>
    <div class="weui-footer weui-footer_fixed-bottom">
    </div>
</div>
<style>
    body{
        background-color:#ffffff;
    }
</style>

<script type="text/javascript" src="~/lib/modules/Home/home-index.js"></script>









