
@{
    ViewData["Title"] = "进度关系";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="layui-fluid">
    <input type="hidden" name="hide_keyWord" />
    <div class="layui-card">
        <div class="layui-card-body">
            <table id="NF-ScheduleManagementCollection-Index" lay-filter="NF-ScheduleManagementCollection-Index"></table>
            <!--查看详情-->
            <script type="text/html" id="nameTpl">
                <a class="layui-table-link hand" lay-text="查看详情" lay-event="detail">
                    {{d.ScheduleName}}
                </a>
            </script>
            <!--表格工具栏-->
            <script id="toolcontract" type="text/html">
                <div class="layui-inline">
                    <input class="layui-input" type="text" name="keyWord" placeholder="名称、关键字、任务归属" style="width:240px;" />

                </div>
                <div class="layui-inline">
                    <button class="layui-btn" lay-event="search">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                    </button>
                    @* 高级查询暂时不用 *@
                    @*<button class="layui-btn" id="advQuery" lay-event="advQuery">
                            <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>高级查询
                        </button>*@
                    <button class="layui-btn" lay-event="add">
                        <i class="layui-icon layui-icon-edit layuiadmin-button-btn"></i>
                        新增
                    </button>
                    <div class="layui-btn  layui-unselect layui-form-select downpanel">
                        <div class="layui-select-title">
                            状态流转
                            <i class="layui-edge"></i>
                        </div>
                        <dl class="layui-anim layui-anim-upbit datastate"></dl>
                    </div>
                    <ul class="layui-nav layui-btn layui-bg-green " style="font-size: 12px;float: right;padding:0px 0px 0px 0px;margin-left: 14px;">
                        <li class="layui-nav-item" style="line-height: 33px;font-size: 12px;">
                            <a style="color:white;font-size: 12px;padding: 2px 30px 3px 20px;letter-spacing:1px;width:88px" id="moreClick">更多操作<i class="layui-edge"></i></a>
                            <dl class="layui-nav-child" style="top: 30px;line-height: 30px;width:188px;background-color:#fff ;border:white" id="moreEncrypt">
                                <!-- 二级菜单 -->
                                <dd>
                                    <button class="layui-btn" lay-event="batchdel" style="width:168px;margin:5px;">
                                        <i class="layui-icon layui-icon-delete layuiadmin-button-btn"></i>批量删除
                                    </button>
                                </dd>
                                <dd>
                                    <button class="layui-btn" lay-event="exportexcel" style="width:168px;margin:5px;">
                                        <i class="layui-icon layui-icon-export layuiadmin-button-btn"></i>导出Excel
                                    </button>
                                </dd>
                                <dt>
                                    <button class="layui-btn" lay-event="clear" style="width:168px;margin:5px;">
                                        <i class="layui-icon layui-icon-edit layuiadmin-button-btn"></i>清除
                                    </button>
                                </dt>
                       
                            </dl>
                        </li>
                    </ul>
                </div>
            </script>
            @*状态*@
        <script type="text/html" id="stateTpl">
            {{#  if(d.State ===0){ }}@*未执行*@
            <span style="color:blue;">{{d.StateDic}}</span>
            {{#  } else if(d.State ===1) { }} @**@
        <span style="color:green;">{{d.StateDic}}</span>
            {{#  } else{ }}
        <span style="color:gray;">{{d.StateDic}}</span>
            {{#  } }}
        </script>
            @*操作*@
            <script type="text/html" id="table-contract-bar">
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>修改</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
            </script>
        </div>
    </div>
</div>
@{
    Html.RenderPartial("_WorkFlowPartial");
    Html.RenderPartial("_ExportExcelSetPartial");
    Html.RenderPartial("_LayuiScriptsPartial");
    Html.RenderPartial("_ContStatePartial");
}
<script>
    layui.config({
        base: '/lib/layuiadmin/'
    }).extend({
        index: 'lib/index' //主入口模块
        , commonnf: 'common-nf/commonnf'
        , dynamicCondition: 'layui-nf-plugs/dynamicCondition/dynamicCondition'
        , treeSelect: 'layui-nf-plugs/treeselect'
        , collectionScheduleIndex: 'Schedule-nf/Schedule-index'
        , contractutility: 'common-nf/Scheduleutility'
        , appflowutility: 'common-nf/appflowutility'
        , soulTable: 'layui-nf-plugs/soulTable/soulTable',
        tableChild: 'layui-nf-plugs/soulTable/tableChild',
        tableMerge: 'layui-nf-plugs/soulTable/tableMerge',
        tableFilter: 'layui-nf-plugs/soulTable/tableFilter',
        excel: 'layui-nf-plugs/soulTable/excel'


    }).use(['index', 'collectionScheduleIndex', 'commonnf'], function () {
    });
</script>
<link href="~/lib/layuiadmin/modules/layui-nf-plugs/soulTable/soulTable.css" rel="stylesheet" />