/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color:#e5e5e5;

}

.footer {
   /* position: absolute;*/
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    position: fixed;
    z-index: 1;
    // line-height: 60px; /* Vertically center the text there */
}


/* 菜单页样式
-------------------------------------------------- */
/*菜单样式--begin*/
.menu_font {
    color: #07C160;
}

.menu_hd {
    text-align: center;
    background-color: #32d077
}

.menu_hd_Title1 {
    color: #ffffff
}

.menu_hd_Title2 {
    color: #ffffff
}
/*****列表样式*/
.list-box {
    /*列表背景色*/
    background-color:#e5e5e5;
}
.list-more{
    color:blue;
}
.list-title{
    color:#07C160;
}
/******************首页样式*/
.index-bg {
    background-color: #fff;
}
.index-menubtn {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .05);
    border-radius: 8px;
}
.shenpibtn {
    /***审批按钮*/
    width: 10rem;
    height: 10rem;
    position: fixed;
    bottom: 10rem;
    right: 0.5rem;
    z-index: 9999;
}

/*菜单页样式--end*/
/*菜单样式
----------------------------------------------------------------------*/





