@{
    ViewData["Title"] = "项目时间列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="layui-fluid">
    <!--基本信息begin-->
    <div class="layui-form" lay-filter="NF-projScheduleForm">
        <!--修改时使用-->
        <input type="hidden" id="Id" name="Id" />
        
        <!--项目ID-->
        <input type="hidden" name="ProjectId" id="ProjectId" />
        <div class="layui-card ">
            <div class="layui-card-header">基本信息</div>
            <div class="layui-card-body" style="padding: 15px;">
                <div class="layui-row layui-col-space10 layui-form-item layui-col-lg12">
                    <div class="layui-col-lg4 layui-col-md4 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">事项</label>
                        <div class="layui-input-block">
                            <input type="text" name="Pitem" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input pen" />
                        </div>
                    </div>
                    <div class="layui-col-lg4 layui-col-md4 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">计划开始时间</label>
                        <div class="layui-input-block">
                            <input type="text" name="PlanBeginDateTime" id="PlanBeginDateTime" lay-verify="required" class="layui-input pen" />
                        </div>
                    </div>
                    <div class="layui-col-lg4 layui-col-md4 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">计划结束时间</label>
                        <div class="layui-input-block">
                            <input type="text" name="PlanCompleteDateTime" id="PlanCompleteDateTime" lay-verify="required" class="layui-input pen" />
                        </div>
                    </div>
                </div>
                
                <div class="layui-row layui-col-space10 layui-form-item layui-col-lg12">

                    <div class="layui-col-lg12 layui-col-md12 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">备注</label>
                        <div class="layui-input-block">
                            <textarea name="Remark" class="layui-textarea"></textarea>
                        </div>
                    </div>
                </div>
                <!--需要在最后加这个或者没有也加一个 <div class="layui-form-item">，这样不会导致隐藏菜单是显示问题-->
                <div class="layui-form-item">

                </div>
            </div>
        </div>

        <div class="layui-form-item layui-layout-admin layui-hide">
            <div class="layui-input-block">
                <div class="layui-footer" style="left: 0;">
                    <button class="layui-btn" id="NF-ProjSchedule-FormSubmit" lay-submit lay-filter="NF-ProjSchedule-FormSubmit">保存</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </div>

    </div>
</div>
@{
    Html.RenderPartial("_LayuiScriptsPartial");
}
<script>

    layui.config({
        base: '/lib/layuiadmin/'
    }).extend({
        index: 'lib/index'
    }).use(['index', 'form', 'laydate'], function () {

        var $ = layui.$
            , admin = layui.admin
            , form = layui.form
            , laydate = layui.laydate;
           var _objId = wooutil.getQueryString('Id');
           laydate.render({ elem: '#PlanBeginDateTime', trigger: 'click' });
           laydate.render({ elem: '#PlanCompleteDateTime', trigger: 'click' });

       
        /**
        *修改绑定数据
       **/
           if (_objId !== "" && _objId !== undefined && parseInt(_objId) > 0) {
               admin.req({
                   url: '/Project/ProjSchedule/ShowView',
                   data: { Id: _objId, rand: wooutil.getRandom() },
                   done: function (res) {
                       form.val('NF-projScheduleForm', res.Data);
                   }
               });
           }

    });
</script>