@{
    ViewData["Title"] = "客户详情";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 <script>

        

    </script>
<a href="/Home/Eees" type="hidden" id="wxnamenull"></a>

<div class="weui-gallery" style="display: none">
    <span class="weui-gallery__img"></span>
    <div class="weui-gallery__opr">
    </div>
</div>

<div class="page page-bg">
    @* 审批框不用了 用下面的图标 *@

    <div class="page__bd">
        @*审批事项用于判断是否有审批按钮*@
        <input type="hidden" id="WfItem" name="WfItem" />
        @*类别ID*@
        <input type="hidden" id="HtLbId" name="HtLbId" />
        @*审批实例ID*@
        <input type="hidden" id="InstId" name="InstId" />
        <input type="hidden" id="NodeId" name="NodeId" />
        @*节点*@
        <input type="hidden" id="NodeStrId" name="NodeStrId" />
        @*合同金额*@
        <input type="hidden" id="HtJeD" name="HtJeD" />
        <input type="hidden" id="FinanceType" name="FinanceType" value="@ViewData["FinanceType"]" />
        <input hidden id="contId" name="contId" value="@ViewData["contId"]" />
        <input hidden id="CurrWxUserId" name="CurrWxUserId" value="@ViewData["WxCurrUserId"]" />

        @*基本信息----begin*@
        <div class="weui-panel weui-panel_access">

            <div class="weui-panel__hd">基本信息</div>
            <div class="weui-panel__bd">
                <div class="weui-cell weui-cell_active weui-cell_disabled">
                    <div class="weui-cell__hd"><label class="weui-label">名称</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" name="Name" id="Name" disabled />
                    </div>
                </div>
                <div class="weui-cell weui-cell_active weui-cell_disabled">
                    <div class="weui-cell__hd"><label class="weui-label">编号</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" name="Code" id="Code" disabled />
                    </div>
                </div>
                <div class="weui-cell weui-cell_active weui-cell_disabled">
                    <div class="weui-cell__hd"><label class="weui-label">联系人姓名</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" name="FirstContact" id="FirstContact" disabled />
                    </div>
                </div>

                <div class="weui-cell weui-cell_active weui-cell_disabled">
                    <div class="weui-cell__hd"><label class="weui-label">联系电话</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" name="FirstContactMobile" id="FirstContactMobile" disabled />
                    </div>
                </div>
                <div class="weui-cell weui-cell_active weui-cell_disabled">
                    <div class="weui-cell__hd"><label class="weui-label">地址</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" name="Address" id="Address" disabled />
                    </div>
                </div>

            </div>

        </div>
        @*基本信息----end*@

        @*服务记录-begin*@
        <div class="weui-panel weui-panel_access">
            <div class="weui-panel__hd">服务记录</div>
            <div class="weui-panel__bd page-bd" style="padding-bottom:60px;" id="ShowFile">

                @*<div class="weui-form-preview weui-panel_access">
                    <div class="weui-form-preview__hd">
                        <label class="weui-form-preview__label">提醒时间</label>
                        <em class="weui-form-preview__value">2022-4-8</em>
                    </div>
                    <div class="weui-form-preview__bd">

                        <div class="weui-form-preview__item">
                            <label class="weui-form-preview__label">服务描述</label>
                            <span class="weui-form-preview__value">很长很长的名字很长很长的名字很长很长的名字很长很长的名字很长很长的名字</span>
                        </div>
                    </div>

                    <div class="weui-form-preview__bd">
                        <div class="weui-form-preview__item">
                        <ul class="weui-uploader__files" id="uploaderFiles">
                            <li class="weui-uploader__file" style="background-image:url(/Uploads/CustomerFile/00c24432-4c00-44d8-a97b-1ab022cf1268.jpeg)"></li>
                            <li class="weui-uploader__file" style="background-image:url(/Uploads/CustomerFile/3ce02b38-3e8c-4236-9a81-cdd46d641b94.jpeg)"></li>
                            <li class="weui-uploader__file" style="background-image:url(/Uploads/CustomerFile/5f38ba75-3189-412e-8d1a-2500fe78fa85.jpeg)"></li>
                         
                        </ul>
                        </div>
                    </div>
                    <div class="weui-form-preview__ft" >
                        <a class="weui-form-preview__btn weui-form-preview__btn_primary"href="javascript:">删除</a>
                    </div>
                </div>*@


               @* <div class="weui-form-preview weui-panel_access">
                    <div class="weui-form-preview__hd">
                        <label class="weui-form-preview__label">提醒时间</label>
                        <em class="weui-form-preview__value">2022-6-18</em>
                    </div>
                    <div class="weui-form-preview__bd">

                        <div class="weui-form-preview__item">
                            <label class="weui-form-preview__label">服务描述</label>
                            <span class="weui-form-preview__value">换个东西</span>
                        </div>
                    </div>
                    <div class="weui-form-preview__ft" >
                        <a class="weui-form-preview__btn weui-form-preview__btn_primary" href="javascript:">删除</a>
                    </div>
                  
                </div>*@

            </div>
        </div>
        @*服务记录-end*@







    </div>
    <link href="https://unpkg.com/video.js/dist/video-js.min.css" rel="stylesheet">
    <script src="https://unpkg.com/video.js/dist/video.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/lib/modules/customer/company-detail.js"></script>

        
   
    <div class="weui-loadmore weui-loadmore_line">
    <span class="weui-loadmore__tips">已经见底,别再翻了</span>
    </div>

</div>