
@{
    ViewData["Title"] = "客户详情";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a href="/Home/Eees" type="hidden" id="wxnamenull"></a>
<div class="page">
    @* 审批框不用了 用下面的图标 *@
    @*<div class="page__hd">
            <div class="weui-btn_primary weui-header hide" id="shenpi">
                <div class="weui-header-left"> <a class="icon icon-109 f-white"></a>  </div>
                <h1 class="weui-header-title">审批</h1>
                <div class="weui-header-right"><a class="icon icon-115 f-white"></a></div>
            </div>
        </div>*@
    <div class="page__bd">
        @*审批事项用于判断是否有审批按钮*@
        <input type="hidden" id="WfItem" name="WfItem" />
        @*类别ID*@
        <input type="hidden" id="HtLbId" name="HtLbId" />
        @*审批实例ID*@
        <input type="hidden" id="InstId" name="InstId" />
        <input type="hidden" id="NodeId" name="NodeId" />
        @*节点*@
        <input type="hidden" id="NodeStrId" name="NodeStrId" />
        @*合同金额*@
        <input type="hidden" id="HtJeD" name="HtJeD" />
        <input type="hidden" id="FinanceType" name="FinanceType" value="@ViewData["FinanceType"]" />
        <input hidden id="contId" name="contId" value="@ViewData["contId"]" />
        <input hidden id="CurrWxUserId" name="CurrWxUserId" value="@ViewData["WxCurrUserId"]" />
        @*签约信息----begin*@
        @*<div class="weui-panel weui-panel_access weui-cells">
                <span class="right f-orange"><a class="open-popup" href="javascript:;" data-target="#full">审批详情</a></span>
            </div>*@

        @*签约方信息-----end*@
        @*基本信息----begin*@
        <div class="weui-panel weui-panel_access">

            <div class="weui-panel__hd">基本信息</div>
            <div class="weui-panel__bd">
                <div class="weui-cell weui-cell_active weui-cell_disabled">
                    <div class="weui-cell__hd"><label class="weui-label">名称</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" name="Name" id="Name" disabled />
                    </div>
                </div>
                <div class="weui-cell weui-cell_active weui-cell_disabled">
                    <div class="weui-cell__hd"><label class="weui-label">编号</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" name="Code" id="Code" disabled />
                    </div>
                </div>
               @* <div class="weui-cell weui-cell_active weui-cell_disabled">
                    <div class="weui-cell__hd"><label class="weui-label">类别</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" name="CompanyTypeClass" id="CompanyTypeClass" disabled />
                    </div>
                </div>*@
               @* <div class="weui-cell weui-cell_active weui-cell_disabled">
                    <div class="weui-cell__hd"><label class="weui-label">级别</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" name="LevelName" id="LevelName" disabled />
                    </div>
                </div>*@
               @* <div class="weui-cell weui-cell_active weui-cell_disabled">
                    <div class="weui-cell__hd"><label class="weui-label">信用等级</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" name="CareditName" id="CareditName" disabled />
                    </div>
                </div>*@
                @*<div class="weui-cell weui-cell_active weui-cell_disabled">
                    <div class="weui-cell__hd"><label class="weui-label">状态</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" name="CstateDic" id="CstateDic" disabled />
                    </div>
                </div>*@

               @* <div class="weui-cell weui-cell_active weui-cell_disabled">
                    <div class="weui-cell__hd"><label class="weui-label">建立人</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" name="CreateUserDisplayName" id="CreateUserDisplayName" disabled />
                    </div>
                </div>
                <div class="weui-cell weui-cell_active weui-cell_disabled">
                    <div class="weui-cell__hd"><label class="weui-label">负责人</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" name="PrincipalUserDisplayName" id="PrincipalUserDisplayName" disabled />
                    </div>
                </div>*@
                <div class="weui-cell weui-cell_active weui-cell_disabled">
                    <div class="weui-cell__hd"><label class="weui-label">联系人姓名</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" name="FirstContact" id="FirstContact" disabled />
                    </div>
                </div>
                @*<div class="weui-cell weui-cell_active weui-cell_disabled">
                    <div class="weui-cell__hd"><label class="weui-label">职位</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" name="FirstContactPosition" id="FirstContactPosition" disabled />
                    </div>
                </div>*@
              @*  <div class="weui-cell weui-cell_active weui-cell_disabled">
                    <div class="weui-cell__hd"><label class="weui-label">办公电话</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" name="FirstContactTel" id="FirstContactTel" disabled />
                    </div>
                </div>*@
                <div class="weui-cell weui-cell_active weui-cell_disabled">
                    <div class="weui-cell__hd"><label class="weui-label">联系电话</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" name="FirstContactMobile" id="FirstContactMobile" disabled />
                    </div>
                </div>
                <div class="weui-cell weui-cell_active weui-cell_disabled">
                    <div class="weui-cell__hd"><label class="weui-label">地址</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" name="Address" id="Address" disabled />
                    </div>
                </div>
               @* <div class="weui-cell weui-cell_active weui-cell_disabled">
                    <div class="weui-cell__hd"><label class="weui-label">邮箱</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" name="FirstContactEmail" id="FirstContactEmail" disabled />
                    </div>
                </div>*@
            </div>
           @* <div class="page__bd">
                <div class="weui-cells__title bd  weui-panel_access">其他联系人</div>
                <div class="weui-cells">
                    <a class="weui-cell  weui-cell_access weui-cell_example" href="Lxr?Id=@ViewData["contId"]&Wxzh=@ViewData["WxCurrUserId"]">
                        <div class="weui-cell__hd"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAMAAABgZ9sFAAAAVFBMVEXx8fHMzMzr6+vn5+fv7+/t7e3d3d2+vr7W1tbHx8eysrKdnZ3p6enk5OTR0dG7u7u3t7ejo6PY2Njh4eHf39/T09PExMSvr6+goKCqqqqnp6e4uLgcLY/OAAAAnklEQVRIx+3RSRLDIAxE0QYhAbGZPNu5/z0zrXHiqiz5W72FqhqtVuuXAl3iOV7iPV/iSsAqZa9BS7YOmMXnNNX4TWGxRMn3R6SxRNgy0bzXOW8EBO8SAClsPdB3psqlvG+Lw7ONXg/pTld52BjgSSkA3PV2OOemjIDcZQWgVvONw60q7sIpR38EnHPSMDQ4MjDjLPozhAkGrVbr/z0ANjAF4AcbXmYAAAAASUVORK5CYII=" alt="" style="width: 20px; margin-right: 16px; display: block;"></div>
                        <div class="weui-cell__bd">
                            <p>其他联系人</p>
                        </div>
                        <div class="weui-cell__ft"></div>
                    </a>

                </div>
            </div>*@
        </div>
        @*基本信息----end*@
        @*合同文本----begin*@
        <div class="weui-panel weui-panel_access">
            <div class="weui-panel__hd">服务记录</div>
            <div class="weui-panel__bd" id="ShowFile">

            </div>
        </div>
        @*合同文本-----end*@
    </div>
    @*漂浮图片*@
    <img src="~/lib/weui/images/icon_shenpi.png" class="shenpibtn hide" id="shenpi" />
</div>

<div id="full" class='weui-popup__container'>
    <div class="weui-popup__overlay"></div>
    <div class="weui-popup__modal">
        <a href="javascript:;" class="weui-btn weui-btn_primary close-popup">关闭</a>
        <div class="timeline">
            <ul id="timelineui">
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/lib/modules/customer/company-detail.js"></script>

